---
layout: default
---

<article class="post detailed">
  {% if page.image %}
    <img src="{{ site.baseurl }}/images/{{ page.image }}" class="post-main-image" />
  {% endif %}

  <h1>{{ page.title }}</h1>

  <div>
    {% if page.authors %}
      <p class="author_title">{{page.authors}}</p>
    {% else %}
      {% if page.last_modified_at %}
        <p class="author_title">
          {{ page.date | date: "%B %e, %Y" }}
        </p>
      {% endif %}
    {% endif %}

    {% if page.last_modified_at %}
    <p class="author_title" datetime="{{ page.last_modified_at | date_to_xmlschema }}">(Updated: {{ page.last_modified_at | date: "%b %-d, %Y" }})</p>
    {% endif %}
    <div class="post-tags">
      {% if post %}
        {% assign categories = post.categories %}
      {% else %}
        {% assign categories = page.categories %}
      {% endif %}
      {% for category in categories %}
        <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div>
  </div>

  <div class="entry">
    {{ content }}
    {% if page.title_en %}
      <p>In English: {{ page.title_en }}</p>
    {% endif %}
    {% if page.publisher %}
      <p>{{ page.publisher }}.</p>
    {% endif %}
    {% if page.published %}
      <p>{{ page.published }}.</p>
    {% endif %}
    {% if page.ISBN %}
      <p>ISBN {{ page.ISBN }}</p>
    {% endif %}
    {% if page.order %}
      <a href="{{ page.order }}">Order</a>
    {% endif %}
  </div>

  <div>
    <p><span class="share-box">Share:</span> <a href="http://twitter.com/share?text={{ page.title }}&url={{site.url}}{{page.url}}" target="_blank">Twitter</a>, <a href="https://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" target="_blank">Facebook</a></p>
  </div>

  <!--<div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>-->

  {% include disqus.html %}
</article>
